<div id="expense-table">
    {{if .Expense }}
    <table>
        <thead>
            <th>Expense</th>
            <th>Amount</th>
            <th>Frequency</th>
            <th>Tags</th>
            <th>UserId</th>
            <th>Remove?</th>
        </thead>
        <tbody>
            {{range .Expense}}
            <tr>
                <td>{{.Label}}</td>
                <td>{{.Amount}}</td>
                <td>{{.Frequency}}</td>
                <td>{{.Tag}}</td>
                <td>{{.UserId}}</td>
                <td>
                    <form hx-post="/app/expense/remove" hx-target="#expense-table">
                        <input type="hidden" id="remove-expense-id" name="remove-expense-id" value="{{.Id}}">
                        <button type="submit">Remove?</button>
                    </form>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{else}}
    <p>No current expenses.</p>
    {{end}}
</div>