<h2>Admin - Control Panel</h2>
<hr>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Creation Date</th>
            <th>Last Login</th>
            <th>User ID</th>
            <th>Fill</th>
            <th>Items</th>
        </tr>
    </thead>
    <tbody>
    {{range .Users}}
    <tr>
        <td>{{.User.Username}}</td>
        <td>{{.User.Email}}</td>
        <td> - </td>
        <td> - </td>
        <td>{{.User.Id}}</td>
        <td><button hx-post="/app/expense/fill?userid={{.User.Id}}" hx-swap="outerHTML">Fill Test Data</button></td>
        <td>{{.Count}}</td>
    </tr>
    {{end}}